.ol-button-group {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
  position: absolute;
}
@media print {
  .ol-button-group {
    display: none;
  }
}
.ol-touch .ol-button-group button {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 26px;
}
.ol-button-group button {
  background: rgba(0, 60, 136, 0.5);
  border: none;
  color: white;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 22px;
  height: 22px;
  margin: 1px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  text-indent: 0;
}
/* reset extra paddinig on firefox */
.ol-button-group button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.ol-button-group button:hover, .ol-button-group button:focus {
  background-color: rgba(0, 60, 136, 0.7);
}
.ol-button-group.ol-vertical button {
    display: block;
}
.ol-button-group.ol-horizontal button {
    display: inline-block;
}
.ol-button-group.ol-vertical button:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.ol-button-group.ol-vertical button:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ol-button-group.ol-horizontal button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ol-button-group.ol-horizontal button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.ol-attribution {
  position: absolute;
  text-align: right;
  color: #eeeeee;
  bottom: 0;
  right: 0;
  background: rgba(0,60,136,0.3);
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  padding: 6px;
}
.ol-attribution a {
  color: white;
  text-decoration: none;
}
.ol-attribution ul {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
  content: "\2003";
}
.ol-dragbox {
  position: absolute;
  border: 2px solid red;
}
.ol-full-screen {
  right: 8px;
  top: 8px;
}
button.ol-full-screen-false:after {
  content: "\2194";
}
button.ol-full-screen-true:after {
  content: "\00d7";
}
.ol-logo {
  bottom: 0;
  left: 0;
  padding: 2px;
  position: absolute;
}
.ol-logo ul {
  margin: 0;
}
.ol-logo ul li {
  display: inline;
  list-style: none;
}

.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}

.ol-scale-line {
  background: rgba(0,60,136,0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.ol-scale-line-inner {
  border: 1px solid #eeeeee;
  border-top: none;
  color: #eeeeee;
  font-size: 10px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  text-align: center;
  margin: 1px;
  padding: 0px 2px;
}
.ol-unsupported {
  display: none;
}
.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ol-zoom {
  top: 8px;
  left: 8px;
}
.ol-zoom button {
  line-height: 19px;
  padding: 0 0 3px 0;
}
.ol-zoom-in:before {
  content: "+";
}
.ol-zoom-out:before {
  content: "\2212";
}
.ol-zoom-extent {
  top: 65px;
  left: 8px;
}
.ol-zoom-extent button:after {
  content: "\f047";
}

.ol-zoomslider {
  top: 67px;
  left: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  width: 28px;
  height: 200px;
  outline: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.ol-zoomslider-thumb {
  position: absolute;
  display: block;
  padding: 0;
  margin: 2px;
  background: rgba(0,60,136,0.5);
  border-radius: 2px;
  outline: none;
  overflow: hidden;
  height: 20px;
  width: 24px;
}
